html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('./img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
* Styles for the deck of cards
*/

.deck {
  width: 320px;
  height: 340px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 16px;
  border-radius: 5px;
  box-shadow: 6px 8px 10px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5em;
}

.card {
  height: 60px;
  width: 60px;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 1px 10px 0 rgba(46, 61, 73, 0.5);
  transition: transform 0.8s, box-shadow 0.2s, background-color 0.5s;
  transform-style: preserve-3d;  background: #02b3e4;

}

.card.open {
  background: #02b3e4;
  cursor: default;
}

.card.match {
  cursor: default;
  background: #02ccba;
  font-size: 16px;
}
.card.flipped {
  background: #2e3d49;
  transform: rotateY(180deg);
}
.card i {
  backface-visibility: hidden;
  font-size: 2.5em;
}
/*
* Styles for the Score Panel
*/

.score-panel {
  width: 310px;
  margin-bottom: 10px;
  font-size: 12px;
}

.score-panel .stars {
  margin: 0 5px 0 0;
  padding: 0;
  width: 100px;
  text-align: center;
  float: left;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .moves {
  display: inline-block;
  margin: 0 1em;
}

.score-panel .time {
  width: 110px;
  float: right;
}

.restart {
  padding: 1em 2em;
  color: black;
  background-color: white ;
  border: 2px solid black;
}

.restart:hover {
  color: white;
  background-color: black;  
}

/* 
* Winning modal
*/

.pass {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Coda', cursive;
  background: white;
  border: 2px solid;
}

.pass img {
  height: auto;
  max-width: 150px;
}

/*
* Responsive style
*/

@media (min-width: 700px) {
  .deck {
    width: 660px;
    height: 680px;
    padding: 32px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 2em;
  }
  .card {
      height: 125px;
      width: 125px;
      border-radius: 8px;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  .card.open {
      background: #02b3e4;
      cursor: default;
      font-size: 33px;
  }
  
  .card.match {
      cursor: default;
      background: #02ccba;
      font-size: 33px;
  }
  .pass img {
      max-width: 300px;
  }
  .score-panel {
      font-size: 20px;
      width: 500px;
  }
  .score-panel .stars {
      width: 150px;
  }
  .score-panel .moves {
      margin: 0 2em;
  }
  
  .score-panel .time {
      width: 150px;
  }
  .restart {
      font-size: 20px;
  }
}